body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #222831;
    color: #EEEEEE;
    /* background-image: url('https://images3.alphacoders.com/131/thumb-1920-1313033.jpg'); */
    background-size: cover;
    /* Cover the whole page */
    background-position: center;
    /* Center the image */
}



.search-result-container {
    height: 900px;
    overflow: auto;
}

.main-deck-container {
    /* border: 1px solid #ff0000; */
}

.extra-deck-container {
    /* border: 1px solid #ff0000; */
}

/* .main-card-slot,
.extra-card-slot {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 6rem;
    height: 8rem;
    background-color: rgba(168, 187, 187, 0.479);
} */

.main-deck-container .row .col,
.extra-deck-container .row .col {
    border: 1px solid #ccc;
    /* padding: 10px; */
    text-align: center;
    width: 6rem;
    height: 8rem;
    /* background-color: rgba(168, 187, 187, 0.479); */
    background-color: #31363f;
    display: flex;
    align-items: center;
    /* Center content vertically */
    justify-content: center;
    /* Center content horizontally */
}

.main-deck-container .row .col img,
.extra-deck-container .row .col img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    /* Maintain aspect ratio and fit within the container */
}

.card {
    width: 6rem;
    height: 8rem;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.add-remove-container {
    height: 1rem;
}

/* Testing Styles */
.description-container {
    height: 300px;
    overflow: auto;
    padding: 20px;
    background-color: #31363f;

    /* border: 1px solid #ff0000; */
}

.card-view-container {
    padding: 0px;

    /* border: 1px solid #ff0000; */
}

.card-view {
    width: 24rem;
}

.outer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    /* border: 1px solid #ff0000; */
}

.left-col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* border: 1px solid #ff0000; */
}


.deck-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 1px solid #51ff00; */
}

.search-col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* border: 1px solid #0051ff; */
}

.main-card-img,
.extra-card-img {
    transition: transform 0.1s;
}

.main-card-img:hover,
.extra-card-img:hover {
    cursor: pointer;
    transform: scale(1.1);
    /* filter: brightness(90%) saturate(80%) hue-rotate(90deg); */
}

.search-result-container {
    height: 900px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: #51ff00 1px solid; */
}

.card-frame {
    width: 5.2rem;
    height: 7rem;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: transform 0.1s;
    /* border: #ff0000 1px solid; */
}

.card-frame:hover {
    cursor: pointer;
    transform: scale(1.1);
    /* filter: brightness(90%) saturate(80%) hue-rotate(90deg); */
}

.card-frame img {
    width: 100%;
    height: 100%;

    /* border: #51ff00 1px solid; */
}

.card-buttons-container {
    width: 100%;
    height: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;


    /* border: #51ff00 1px solid; */
}

.card-buttons-container .col {
    flex: 1;
    padding: 0;
}

.add-card-icon,
.remove-card-icon {
    cursor: pointer;
    transition: color 0.3s;
}

.add-card-icon {
    color: #14A44D;
}

.remove-card-icon {
    color: #dc3545;
}

.add-card-icon:hover {
    color: #ACE1AF;
}

.remove-card-icon:hover {
    color: #F88379;
}


/* PAGES */
/* #home-anon-page {
    background-image: url('https://images3.alphacoders.com/131/thumb-1920-1313033.jpg');
    background-size: cover;
    background-position: center;
} */

/* #register-page {
    background-color: #222831;
    color: #EEEEEE;
}

#home-page {
    background-color: #222831;
    color: #EEEEEE;
}

#new-deck-page {
    background-color: #222831;
    color: #EEEEEE;
} */

/* #deck-edit-page {
    background-image: url('https://images5.alphacoders.com/131/thumb-1920-1313043.jpg');
    background-size: cover;
    background-position: center;
} */




.deck-cover {
    width: 10rem;
    height: 12rem;
}

.deck-option {
    width: 10rem;
    height: 15rem;
    background-color: #22283133;
    color: #EEEEEE;
    border: none;
}


/* PRIMARY BUTTON */
.btn-primary {
    background-color: #76ABAE;
    border-color: #76ABAE;
}

.btn-primary:hover {
    background-color: #5C8D8F;
    border-color: #5C8D8F;
}

.btn-primary:active:hover {
    background-color: #5C8D8F;
    border-color: #5C8D8F;
}

.btn-primary:disabled {
    background-color: #76ABAE;
    border-color: #76ABAE;
}

/* SECONDARY BUTTON */
.btn-secondary {
    background-color: #6B8A7A;
    border-color: #6B8A7A;
}

.btn-secondary:hover {
    background-color: #4D6357;
    border-color: #4D6357;
}

.btn-secondary:active:hover {
    background-color: #4D6357;
    border-color: #4D6357;
}

.btn-secondary:disabled {
    background-color: #6B8A7A;
    border-color: #6B8A7A;
}

/* DANGER BUTTON */
.btn-danger {
    background-color: #DD5746;
    border-color: #DD5746;
}

.btn-danger:hover {
    background-color: #8B322C;
    border-color: #8B322C;
}

.btn-danger:active:hover {
    background-color: #8B322C;
    border-color: #8B322C;
}

textarea {
    height: 100px;
}

.modal-content {
    background-color: #31363f;
    color: #EEEEEE;
}

/* Apply to all input fields */
input.form-control {
    background-color: #31363f6c;
    /* Example dark background color */
    color: #EEEEEE;
    /* Text color for better contrast */
    /* border: 1px solid #666; */
    /* Border color to match the background */
}

/* Apply to all textarea fields */
textarea.form-control {
    background-color: #31363f6c;
    color: #EEEEEE;
    /* border: 1px solid #666; */
}

/* Apply to all select fields */
select.form-control {
    background-color: #31363f6c;
    color: #EEEEEE;
    /* border: 1px solid #666; */
}

/* Placeholder text color */
input.form-control::placeholder,
textarea.form-control::placeholder {
    color: #EEEEEE !important;
    /* Example placeholder color */
}


/* Apply to all form field focus states */
input.form-control:focus,
textarea.form-control:focus,
select.form-control:focus {
    background-color: #31363f6c;
    /* Slightly lighter background on focus */
    border-color: #4e4545;
    /* Slightly lighter border on focus */
    color: #FFFFFF;
    outline: none;
    /* Remove default outline */
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
    /* Optional: add a subtle shadow */
}