.card-container {
    height: 900px;
    overflow: auto;
}

.main-deck-container {
    border: 1px solid #ff0000;
}

.extra-deck-container {
    border: 1px solid #ff0000;
}

.main-card-slot,
.extra-card-slot {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 6rem;
    height: 8rem;
    background-color: rgba(168, 187, 187, 0.479);
}

.card {
    width: 6rem;
    height: 8rem;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.add-remove-container {
    height: 1rem;
}

/* Testing Styles */
.description-container {
    height: 300px;
    overflow: auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ff0000;
}

.card-view-container {
    border: 1px solid #ff0000;
    padding: 0px;
}

.card-view {
    width: 24rem;
}

.outer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 1px solid #ff0000;
}

.left-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ff0000;
}


.deck-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #51ff00;
}

.search-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #0051ff;
}