<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YGO Deck Builder</title>

    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/popper"></script>
    <script src="https://unpkg.com/bootstrap"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
</head>

<body>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flashes">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>

    <h2>Cards</h2>

    <div class="container">
        <form method="POST" id="card-search-form">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="/" class="btn btn-primary">Back</a>
        </form>
    </div>

    <div class="container">
        {% for card in cards %}
        <div class="card" style="width: 8rem;">
            <img src="{{ card['card_images'][0]['image_url_small'] }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ card['name'] }}</h5>
                <a href="#" class="btn btn-primary">Add to Deck</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>