<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YGO Deck Builder</title>

    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/popper.js"></script>
    <script src="https://unpkg.com/bootstrap"></script>
    <link rel="stylesheet" href="/static/styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <div class="outer-container bg-secondary">

        <div class="container-fluid">
            <div class="row">
                <div class="left-col col-md-2">
                    <div class="card-view-container container mb-3">
                        <img src="https://images.ygoprodeck.com/images/cards_small/11714098.jpg" alt=""
                            class="card-view">
                    </div>

                    <div class="description-container container mb-3">
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod culpa
                            voluptatibus
                            ex velit nobis quia saepe atque laboriosam natus reprehenderit mollitia eum exercitationem,
                            hic
                            qui
                            sed similique! Vero, beatae dolorum. Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                            Aspernatur error voluptate natus dignissimos facere aut dolor veniam necessitatibus? Quis
                            voluptatibus ex labore unde similique eligendi aut fugiat sit amet voluptate? Lorem ipsum
                            dolor
                            sit
                            amet consectetur adipisicing elit. Quia repellendus numquam, aliquam expedita sapiente est,
                            distinctio unde repudiandae beatae commodi quo accusantium officiis voluptates, dignissimos
                            doloribus eius dolores sit ea! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Cumque
                            blanditiis iste nisi ipsam beatae tempora, animi aperiam! Ratione nobis sunt dolorum
                            pariatur,
                            debitis possimus dolores culpa, atque aliquam, laudantium sit.</p>
                    </div>

                    <div class="buttons-container container mb-3">
                        <div class="row mb-1">
                            <a href="/decks/{{deck.id}}/clear" class="btn btn-primary">Clear Deck</a>
                        </div>
                        <div class="row mb-1">
                            <button class="btn btn-primary">Sort Cards</button>
                        </div>
                        <div class="row mb-1">
                            <button class="btn btn-primary">Delete Deck</button>
                        </div>
                        <div class="row mb-1">
                            <a href="/" class="btn btn-primary">Back</a>
                        </div>
                    </div>
                </div>

                <div class="deck-col col-md-7">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <div class="flashes">
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}

                    <div class="container">

                        <div class="container text-center">
                            <h1>{{deck.name}}</h1>
                        </div>

                        <div class="main-deck-container container">
                            {% for row in range(4) %}
                            <div class="row">
                                {% for col in range(15) %}
                                <div class="col main-card-slot">
                                    <img id="main-card-img-{{row * 15 + col + 1}}" src="/static/images/placeholder.png"
                                        alt="">
                                </div>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>

                        <br>
                        <br>

                        <div class="extra-deck-container container">
                            <div class="row">
                                {% for col in range(15) %}
                                <div class="col extra-card-slot-{{ col + 1 }}">
                                    <img src="" alt="">
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>

                <div class="search-col col-md-3">
                    <div class="container">

                        <form action="/decks/{{deck.id}}/cards/new_search" method="POST" id="card-search-form">
                            {{ form.hidden_tag() }}

                            {% for field in form if field.widget.input_type != 'hidden' %}
                            {% for error in field.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {{ field(placeholder=field.label.text, class="form-control") }}
                            {% endfor %}
                            <button type="submit" class="btn btn-primary w-100">Search</button>
                        </form>

                        <div class="search-result-container">
                            {% for card in cards %}
                            <div class="card-frame">

                                <img src="{{ card['card_images'][0]['image_url_small'] }}">

                                <div class="card-buttons-container container-fluid">
                                    <div class="row">

                                        <div class="col">
                                            <i class="fa-solid fa-square-plus add-card-icon"
                                                data-card-id="{{card['id']}}"></i>
                                        </div>
                                        <div class="col">
                                            <i class="fa-solid fa-square-minus remove-card-icon"
                                                onclick="removeCardFromDeck({{deck.id}}, {{card['id']}})"></i>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <form method="POST" action="/decks/{{deck.id}}/cards/previous_page">
                                        <input type="hidden" name="offset" value="{{ offset }}">
                                        <input type="hidden" name="name" value="{{ form.name.data }}">
                                        <input type="hidden" name="type" value="{{ form.type.data }}">
                                        <input type="hidden" name="attribute" value="{{ form.attribute.data }}">
                                        <input type="hidden" name="race" value="{{ form.race.data }}">
                                        <input type="hidden" name="level" value="{{ form.level.data }}">
                                        <input type="hidden" name="attack" value="{{ form.attack.data }}">
                                        <input type="hidden" name="defense" value="{{ form.defense.data }}">
                                        <button type="submit" class="btn btn-primary w-100" {% if offset==0 %}disabled{%
                                            endif %}>Prev</button>
                                    </form>
                                </div>
                                <div class="col">
                                    <form method="POST" action="/decks/{{deck.id}}/cards/next_page">
                                        <input type="hidden" name="offset" value="{{ offset }}">
                                        <input type="hidden" name="name" value="{{ form.name.data }}">
                                        <input type="hidden" name="type" value="{{ form.type.data }}">
                                        <input type="hidden" name="attribute" value="{{ form.attribute.data }}">
                                        <input type="hidden" name="race" value="{{ form.race.data }}">
                                        <input type="hidden" name="level" value="{{ form.level.data }}">
                                        <input type="hidden" name="attack" value="{{ form.attack.data }}">
                                        <input type="hidden" name="defense" value="{{ form.defense.data }}">
                                        <button type="submit" class="btn btn-primary w-100" {% if pages_remaining==0
                                            %}disabled{% endif %}>Next</button>
                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="/static/script.js"></script>
</body>

</html>