{% extends "base.html" %}

{% block title %}My Decks - YGO Deck Builder{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <a href="/decks/new" class="btn btn-primary w-100" id="new-deck-btn">New Deck</a>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        {% for deck in decks %}
        <div class="col-md-2 mb-4"> <!-- 6 columns per row (12/2 = 6) -->
            <div class="deck-option card h-100">
                <div class="card-body text-center">
                    <img class="deck-cover img-fluid" src="{{ deck.cover_card_url }}" alt="">
                    <h5 class="card-title">{{ deck.name }}</h5>
                    <div class="mt-3">
                        <a href="/decks/{{ deck.id }}" class="btn btn-primary w-100 mb-2">Edit Deck</a>
                        <a href="/decks/{{ deck.id }}/delete" class="btn btn-danger w-100">Delete Deck</a>
                    </div>
                </div>
            </div>
        </div>
        {% if loop.index % 6 == 0 %}
    </div>
    <div class="row"> <!-- Close the current row and start a new one after every 6 items -->
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}