{% extends "base.html" %}

{% block content %}
<div class="container text-center">
    <h1 class="pop-decks-text">Popular Decks</h1>

    <!-- Container for the grid -->
    <div class="container mt-4">
        <div class="row d-flex justify-content-between ">
            {% for deck in popular_decks %}
            <div class="col-md-2 mb-4">
                <div class="example-deck text-center">
                    <a href="{{ deck.href }}" target="_blank">
                        <img src="{{ deck.image_url }}" alt="Card Image">
                    </a>
                    <div class="card-body">
                        <div class="text-bg">
                            <p>{{ deck.deck_name }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% if loop.index % 4 == 0 and not loop.last %}
        </div>

        <div class="row d-flex justify-content-between">
            {% endif %}
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}