{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-not100">
    <div class="container text-center font-background-div" style="width: 30%;">
        <h1><span><img id="profile-page-pic" src="{{user.img_url}}" alt=""></span>Edit Profile</h1>

        <form method="POST" id="register-form">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
            {% endfor %}
            <button type="submit" class="btn btn-primary w-100">Save</button>
            <br>
            <br>
            <a href="/" class="btn btn-danger w-100">Back</a>
        </form>
    </div>
</div>
{% endblock %}